footer{
    background-color: #0A0909;
    color: #ffffff7d;
    display: flex;
    justify-content: center;
    padding: 1.3rem 0;
    margin-bottom: 0;
    width: 100%;
    display: block;
}

footer p{
    padding-bottom: 1rem;
    color: white;
    font-size: 1rem;
    text-align: center;
}

footer h4{
    font-size: 0.8rem;
    text-align: center;
}