.main-index{
    background-image: url(../../img/img-inicio.jpg);
    background-size: cover;
    background-position: center;
    height: 60rem;
}

.section-index::before{
    content:'';
    background-color: rgba(255, 255, 255, 0.538);
    position: absolute;
    width: 100%;
    height: 25vh;
    left: 0;
    margin-top: 400px;
    
}

.content__section{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 1rem;
}

.content__section h1{
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 28rem;
    padding-bottom: 1rem;

}

.content__section h1 span{
    text-transform: uppercase;
    font-size: 2rem;
}

.content__section h2{
    font-size: 1.2rem;
    font-weight: 525;
    color: #000000;
}
