.main-sobremi{
    height: 145vh;
    text-align: center;
    color: rgba(255, 255, 255, 0.768);
}

.main-sobremi div h1{
    margin-top: 50px;
    margin-bottom: 30px;
}

.main-sobremi div img{
    margin-bottom: 5rem;
    height: 30rem;
    position: relative;

}

.main-sobremi div p{
    margin-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.1rem;
    font-weight: 550;
}

.card-1{
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.card{
    display: flex;
    align-items: center;
    background-color: #111111;
    color: #fff;
    margin-left: 1rem;
    margin-right: 3.5rem;
    margin-top: 3rem;
}

.card-text{
    display: flex;
    text-align: left;
}

.card-img{
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

.sobremi-img{
    display: inline-block;
    width: 20rem;
    margin-right: 1rem;
    margin-left: 3.5rem;
    margin-top: 2.5rem;
    transition: 1s;
}

.sobremi-img:hover{
    width: 22rem;
}

.sobremi-img h4{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #ffffffd8;
}